<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>404</h1>
                    <p>Page not found</p>
                    <a href="/"><button>Go Home</button></a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>