<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <p>Please click on the below button to get the response</p>
                    <a href="/result_raw"><button>Get raw response</button></a>
                    <a class="second_link" href="/result_pretty"><button>Get pretty response</button></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>